body{
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}


.item{
    width: 50%;
    height: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

img{
    width: 90%;
    height: 90%;
    text-align: center;
}



.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 999; */
    font-size: 48px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    color: black;
    box-sizing: border-box;
    animation: spotlight 2s linear infinite alternate;
  }
  
  @keyframes spotlight {
    0% , 20% {
      opacity: 1;
      letter-spacing: 2px;
     }
   80% , 100% {
      opacity: 0;
      letter-spacing: 32px;
     }
  }  